.App {
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: #292b35;
}
h1 {
  color: #fff;
}
h2 {
  color: #e0e0e0;
}
div {
  position:absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  position: relative;
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid rgb(0, 42, 156);
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 175px;
  overflow-y: hidden;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
  background-color:#ffffff;
  color: rgb(0, 0, 0);
  font-weight: 70;
}

.suggestion-active {
  background-color:#e4e4e4;
  color: rgb(0, 0, 0);
}
.suggestions li:hover {
  background-color:#e4e4e4;
  color: rgb(0, 0, 0);
  cursor: pointer;
  
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}