@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap);

.App {
  text-align: center;
}


body {
  font-family: 'Roboto Mono', monospace;
  background-color: #292b35;
  margin: 0;
}
html {
  scrollbar-width: none;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .siteHeader {
    font-size: 6.5vw;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #fff;
  }
}
@media only screen and (min-width: 600px) {
.siteHeader {
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 3%;
  color: #fff;
}
}

@media only screen and (max-width: 400px) {
  input {
    width:calc(0.8vw + 1rem);
  }

}
@media only screen and (min-width: 400px) {
input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: calc(300px + 1rem);
  border-radius: 15px;
  outline: none;
}
}

.no-suggestions,
.suggestions {
  position: absolute;
  border-radius: 15px;
  border: 1px solid rgb(0, 42, 156);
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  overflow-y: hidden;
  padding-left: 0;
  width: calc(300px + 1rem);
}
.no-suggestions li {
  padding-left: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 90%;
  font-weight:lighter;
  font-style: italic;
  background-color: white;
  color: #999;
}

.suggestion-active,
.suggestions li:hover {
  background-color:#e4e4e4;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.suggestion-inactive{
  background-color: white;
}

.suggestions li {
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  font-weight: 70;
}

.suggestions li:nth-of-type(1n+7) {
  display: none;
}; 

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.stockInfo {
  color:#e0e0e0;
  list-style: none;
  font-size: 20px;
  margin: 25px;
  width: 300px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222329;
}

.stockLoading {
  margin-left: 25px;
  margin-right: 25px;
  width: 300px;
  margin-top: 25px;
  text-align: center;
}

.stockSection {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.list {
  text-align: left;
  margin-bottom: 25px;
}

.graphSection {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  width: 100vw;
  overflow-x:hidden;
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}